.btn {
    background: #e0e1e2 none;
    border-radius: 5px;
    border: none;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    outline: 0;
    padding: 7px 10px;
    text-align: center;
    font-size: 1.0rem;
}