$color-base: #fff;
$color-dark: #000;
$color-primary-bg: #202529;
$color-text-primary: #a4a4a4;
$color-menu-border: #464646;
$color-button-primary: #5e8ce4;
$color-button-bg-hover: #003ecb;
$color-svg-fill: #a4a4a4;
$color-seperator-primary: #333;
