<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Starter-Kit</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="../styles/main.css" rel="stylesheet">
    <link href="../styles/components/footer.css" rel="stylesheet">
  </head>
  <body>
    <div>${require('../components/footer.html')}</div>
    <h2>Code:</h2>
    <div class="code">
      <pre>
        <xmp>
          ${require('../components/footer.html')}
        </xmp>
      </pre>
    </div>
    <h2>Style: </h2>
    <iframe src="../styles/components/footer.css"></iframe>
</html>
