.form-group {
	margin-bottom: 8px;
}
.form-group label {
	display: block;
    margin: 0 0 4px 0;
    color: rgba(0,0,0,.87);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: none;
}
.form-control {
	width: 100%;
	box-sizing: border-box;
}