<header class="site-header">
  <h1 class="site-logo"><a href="#" class="site-logo__link">Logo</a></h1>
  <nav id="site-nav">
    <ul class="menu">
      <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
      <li class="menu__item"><a href="#" class="menu__link">About</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
      <li class="menu__item"><a href="#" class="header__button header__button--normal hide-element">Sign Up</a></li>
    </ul>
  </nav>
  <div class="header__button header__button--toggle" id="toggle-icon">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</header>
